/* RESET e FONTS */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

*,
*::before,
*::after  {
    margin: 0;    
    padding: 0;
    box-sizing: border-box;
}    

body {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    --header-color: #ff6900;
}




/*PROPRIETÀ COMUNI */

a {
    text-decoration: none;
    color: #ffffff;
}

.items-container {
    height: 100%;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style: none;
    display: flex;
    gap: 0.75em;
}

i {
    display: inline;
}



/* HEADER */

header {
    height: 3.5vw;
    background-color: var(--header-color);
    box-shadow: 0 2px 5px #888888;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 6;
}

header .items-container {
    width: 70vw;
    margin-inline: auto;
}

header .left,
header .right {
    flex: 0 0 25%;
    white-space: nowrap;
}

ul.right {
    flex-direction: row;
    justify-content: flex-end;
}

header .client-type {
    font-weight: 700;
}

header .logo {
    height: 3vh;
    justify-content: center;
}



/* MAIN */


main {
    padding: 9rem 0;
}

.main-container {
    width: 70vw;
    margin-inline: auto;
    height: 100%;
    color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

main .card {
margin-bottom: 2rem;
}

main img {
    width: 22.5vw;
}

main .parent {
    position: relative;
}

img.hidden {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.labels {
    display: flex;
    position: absolute;
    left: 0;
    bottom: 50px;
    gap:.5em    
}

.labels .discount {
    background-color: red;
    color: white;
    font-size: 0.85em;
    font-weight: 700;
    padding: .2em 1em;
    z-index: 2;
}

.labels .sustain {
    background-color: #008000;
    color: white;
    font-size: 0.85em;
    font-weight: 700;
    padding: .2em 1em;
    z-index: 2;
}

.card .heart {
    width: 1.4em;
    height: 1.4em;
    position: absolute;
    top: 10px;
    right: 0;
    text-align: center;
    background-color: #ffffff;
    color: black;
    font-size: 2.5em;
    z-index: 2;
}

.heart:hover{
    color: red;
    cursor: pointer;
}

.parent:hover img.hidden {
    z-index: 0;
}

.brand {
    display: block;
    font-size: 0.9em;
}

.item-name {
    display: block;
    text-transform: uppercase;
    font-size: 1.1em;
    font-weight: 700;
}

.discounted-price {
    font-size: 0.9em;
    font-weight: 700;
    color: red;
    margin-right: 0.3em;
}

.regular-price {
    font-size: 0.9em;
    font-weight: 400;
    color: black;
    text-decoration: line-through;
}




/* FOOTER */

footer {
    height: 6vw;
    background-color: #1a1a1a;
    box-shadow: 0 -2px 5px #888888;
}

footer .items-container {
    width: 70vw;
    margin-inline: auto;
}

footer .left,
footer .right {
    flex: 0 0 40%;
    white-space: nowrap;
}

footer .name {
    display: block;
    font-size: 1.15em;
    font-weight: 700;
    margin-bottom: .7em;
}

footer .nav-links {
    font-size: 0.8em;
    font-weight: 400;
    margin-right: 1em;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.where-to-find {
    font-size: 0.8em;
    font-weight: 700;
    text-align: right;
    padding-right: 2em;
    margin-bottom: .7em;
}

footer i {
    margin-left: 0.25em;
}

footer .icons {
    font-size: 1.3em;
    text-align: right;
}
